<app-header></app-header>
<app-sidebar></app-sidebar>

	<!-- SECTION HEADLINE -->
	<div class="section-headline-wrap">
		<div class="section-headline">
			<h2>Register</h2>
			<p>Home<span class="separator">/</span><span class="current-section">Register</span></p>
		</div>
	</div>
	<!-- /SECTION HEADLINE -->
	<!-- SECTION -->
	<div class="section-wrap">
		<div class="section demo">
			<!-- FORM POPUP -->
			<div class="form-popup">
				<!-- FORM POPUP CONTENT -->
				<div class="form-popup-content">
					<h4 class="popup-title">Sign Up to your Account</h4>
					<!-- LINE SEPARATOR -->
					<hr class="line-separator">
					<div >
						<h6>Chat & Messaging</h6>
						<p class="mt-2">Access your chats and account info from any device.</p>						
					</div>
					<div class="mt-3">
						<h6>User Dashboard</h6>
						<p class="mt-2">Track the status of your ads history.</p>						
					</div>
					<div class="mt-3">
						<h6>Features Listing</h6>
						<p class="mt-2">Get more value fro your ad.</p>						
					</div>														
					<hr class="line-separator double">

				</div>
				<!-- /FORM POPUP CONTENT -->
			</div>
			<!-- /FORM POPUP -->

			<!-- FORM POPUP -->
			<div class="form-popup">
				<!-- FORM POPUP CONTENT -->
				<div class="form-popup-content">
					<h4 class="popup-title">Register Account</h4>
					<!-- LINE SEPARATOR -->
					<hr class="line-separator">
					<!-- /LINE SEPARATOR -->
					<form id="register-form">
						<label for="email_address2" class="rl-label required">First Name</label>
						<input type="email" id="email_address2" name="email_address2" placeholder="Enter your email address here...">
						<label for="username2" class="rl-label">Last Name</label>
						<input type="text" id="username2" name="username2" placeholder="Enter your username here...">
						<label for="email_address2" class="rl-label required">Email</label>
						<input type="email" id="email_address2" name="email_address2" placeholder="Enter your email address here...">
						<label for="email_address2" class="rl-label required">Mobile</label>
						<input type="text" id="email_address2" name="email_address2" placeholder="Enter your email address here...">
						<label for="password2" class="rl-label required">Password</label>
						<input type="password" id="password2" name="password2" placeholder="Enter your password here...">
						<!-- <label for="repeat_password2" class="rl-label required">Repeat Password</label>
						<input type="password" id="repeat_password2" name="repeat_password2" placeholder="Repeat your password here..."> -->
						<label for="password2" class="rl-label required">Gender</label>
						<input type="radio" value="0" /> <span>Male</span>
						<input type="radio" value="1" /> Female
						<button class="button mid dark">Register <span class="primary">Now!</span></button>
					</form>
				</div>
				<!-- /FORM POPUP CONTENT -->
			</div>
			<!-- /FORM POPUP -->

			<div class="clearfix"></div>
		</div>
	</div>
	<!-- /SECTION -->
<app-footer></app-footer>