<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
		<ul class="dropdown ">
			<li class="dropdown-item">
				<a routerLink="/profile"><img class="img-center" src="assets/images/icons/user.png" /> Profile Page</a>
			</li>
			<li class="dropdown-item active">
				<a routerLink="/my-favorites"><img class="img-center" src="assets/images/icons/like.png" /> My Favorites</a>
			</li>
			<li class="dropdown-item">
				<a routerLink="/my-ads"><img class="img-center" src="assets/images/icons/shopping-cart.png" /> My Ads</a>
			</li>
			<li class="dropdown-item">
				<a href="author-badges.html"><img class="img-center" src="assets/images/icons/sign-out-option.png" /> Logout</a>
			</li>
		</ul>    		
    </div>
    <div class="col-md-9">
    	<div class="card">
		  <div class="card-body">
		     My Favorites
		  </div>
		</div>
    </div>
  </div>
</div>

<!-- <app-header></app-header>
<app-sidebar></app-sidebar>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4">
				<ul class="dropdown ">
					<li class="dropdown-item active">
						<a routerLink="/profile"><img class="img-center" src="assets/images/icons/user.png" /> Profile Page</a>
					</li>
					<li class="dropdown-item">
						<a routerLink="/my-favorites"><img class="img-center" src="assets/images/icons/like.png" /> My Favorites</a>
					</li>
					<li class="dropdown-item">
						<a routerLink="/my-ads"><img class="img-center" src="assets/images/icons/shopping-cart.png" /> My Ads</a>
					</li>
					<li class="dropdown-item">
						<a href="author-badges.html"><img class="img-center" src="assets/images/icons/sign-out-option.png" /> Logout</a>
					</li>
				</ul>
			</div>
			<div class="col-md-8">
				Hello
			</div>
		</div>
	</div>
<app-footer></app-footer> -->