<div class="container-fluid">

<div class="row">
	<div class="col-md-4">
	<a href="index-2.html">
		<figure class="logo">
			<img src="assets/images/final-logo-2.png" alt="logo">
		</figure>
	</a>
	</div>
		
	<div class="col-md-8 menu-bar">
		<nav>
			<ul class="main-menu">
				<li class="menu-item">
					<a href="index-2.html">{{ 'HEADER.HOME' | translate }}</a>
				</li>
				<li class="menu-item">
					<a href="how-to-shop.html">{{ 'HEADER.ABOUT' | translate }}</a>
				</li>
				<li class="menu-item">
					<a href="products.html">{{ 'HEADER.AUTH' | translate }}</a>
				</li>
				<li class="menu-item">
					<a href="services.html">{{ 'HEADER.PACKAGE' | translate }}</a>
				</li>

				<li class="menu-item">
					<a href="shop-gridview-v1.html">{{ 'HEADER.CONTACT' | translate }}</a>
				</li>
			</ul>
		</nav>
	</div>
</div>
</div>