<app-header></app-header>
<app-sidebar></app-sidebar>
	<!-- SECTION HEADLINE -->
	<div class="section-headline-wrap">
		<div class="section-headline">
			<h2>My Ads</h2>
			<p>Home<span class="separator">/</span><span class="current-section">My Ads</span></p>
		</div>
	</div>
	<!-- /SECTION HEADLINE -->

<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-md-3">
		<ul class="dropdown ">
			<li class="dropdown-item">
				<a routerLink="/profile"><img class="img-center" src="assets/images/icons/user.png" /> Profile Page</a>
			</li>
			<li class="dropdown-item ">
				<a routerLink="/my-favorites"><img class="img-center" src="assets/images/icons/like.png" /> My Favorites</a>
			</li>
			<li class="dropdown-item active">
				<a routerLink="/my-ads"><img class="img-center" src="assets/images/icons/shopping-cart.png" /> My Ads</a>
			</li>
			<li class="dropdown-item">
				<a href="author-badges.html"><img class="img-center" src="assets/images/icons/sign-out-option.png" /> Logout</a>
			</li>
		</ul>    		
    </div>
    <div class="col-md-9">





    	<div class="card card-left-border mb-3">
		  <div class="card-body">
				<div class="row mt-3">
					<div class="col-md-2">
						<img width="60px" height="60px" src="https://apollo-singapore.akamaized.net/v1/files/vo2nyrgszgwj3-IN/image;s=600x1200; q=60" />
					</div>
					<div class="col-md-2">
						<div class="font-weight-bold">Air Cooler</div>
					</div>
					<div class="col-md-2">
						<div>₹ 2,000</div>
					</div>	
					<div class="col-md-3">
						<span class="badge badge-pill badge-info pl-4 pr-4 pt-2 pb-2">ACTIVE</span>
					</div>	
					<div class="col-md-2">
						<a class="btn btn-primary btn-sm"><i class="fa fa-edit"></i></a>
						<a class="btn btn-danger btn-sm ml-2"><i class="fa fa-trash"></i></a>
					</div>
			  	</div>
			</div>
    	</div>
    	<div class="card card-left-border mb-3">
		  <div class="card-body">
				<div class="row mt-3">
					<div class="col-md-2">
						<img width="60px" height="60px" src="https://apollo-singapore.akamaized.net/v1/files/vo2nyrgszgwj3-IN/image;s=600x1200; q=60" />
					</div>
					<div class="col-md-2">
						<div class="font-weight-bold">Air Cooler</div>
					</div>
					<div class="col-md-2">
						<div>₹ 2,000</div>
					</div>	
					<div class="col-md-3">
						<span class="badge badge-pill badge-dark pl-4 pr-4 pt-2 pb-2">SOLD</span>
					</div>	
					<div class="col-md-2">
						<a class="btn btn-primary btn-sm"><i class="fa fa-edit"></i></a>
						<a class="btn btn-danger btn-sm ml-2"><i class="fa fa-trash"></i></a>
					</div>
			  	</div>
			</div>
    	</div>
    	<div class="card card-left-border">
		  <div class="card-body">
				<div class="row mt-3">
					<div class="col-md-2">
						<img width="60px" height="60px" src="https://apollo-singapore.akamaized.net/v1/files/vo2nyrgszgwj3-IN/image;s=600x1200; q=60" />
					</div>
					<div class="col-md-2">
						<div class="font-weight-bold">Air Cooler</div>
					</div>
					<div class="col-md-2">
						<div>₹ 2,000</div>
					</div>	
					<div class="col-md-3">
						<span class="badge badge-pill badge-warning pl-4 pr-4 pt-2 pb-2">PENDING</span>
					</div>	
					<div class="col-md-2">
						<a class="btn btn-primary btn-sm"><i class="fa fa-edit"></i></a>
						<a class="btn btn-danger btn-sm ml-2"><i class="fa fa-trash"></i></a>
					</div>
			  	</div>
			</div>
    	</div>     	    	
  </div>
</div>

<!-- <app-header></app-header>
<app-sidebar></app-sidebar>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4">
				<ul class="dropdown ">
					<li class="dropdown-item active">
						<a routerLink="/profile"><img class="img-center" src="assets/images/icons/user.png" /> Profile Page</a>
					</li>
					<li class="dropdown-item">
						<a routerLink="/my-favorites"><img class="img-center" src="assets/images/icons/like.png" /> My Favorites</a>
					</li>
					<li class="dropdown-item">
						<a routerLink="/my-ads"><img class="img-center" src="assets/images/icons/shopping-cart.png" /> My Ads</a>
					</li>
					<li class="dropdown-item">
						<a href="author-badges.html"><img class="img-center" src="assets/images/icons/sign-out-option.png" /> Logout</a>
					</li>
				</ul>
			</div>
			<div class="col-md-8">
				Hello
			</div>
		</div>
	</div>
<app-footer></app-footer> -->