<app-header></app-header>
<app-sidebar></app-sidebar>

	<!-- SECTION HEADLINE -->
	<div class="section-headline-wrap">
		<div class="section-headline">
			<h2>Login</h2>
			<p>Home<span class="separator">/</span><span class="current-section">Login</span></p>
		</div>
	</div>
	<!-- /SECTION HEADLINE -->
	<!-- SECTION -->
	<div class="section-wrap">
		<div class="section demo">
			<!-- FORM POPUP -->
			<div class="form-popup">
				<!-- FORM POPUP CONTENT -->
				<div class="form-popup-content">
					<h4 class="popup-title">Sign In to your Account</h4>
					<!-- LINE SEPARATOR -->
					<hr class="line-separator">
					<div >
						<h6>Chat & Messaging</h6>
						<p class="mt-1">Access your chats and account info from any device.</p>						
					</div>
					<div class="mt-2">
						<h6>User Dashboard</h6>
						<p class="mt-1">Maintain a wish list by saving your favorite items.</p>						
					</div>									
					<hr class="line-separator double">
					<a href="#" class="button mid de half" routerLink="/otp-login">Login with Phone</a>

				</div>
				<!-- /FORM POPUP CONTENT -->
			</div>
			<!-- /FORM POPUP -->

			<!-- FORM POPUP -->
			<div class="form-popup">
				<!-- FORM POPUP CONTENT -->
				<div class="form-popup-content">
					<h4 class="popup-title">Login to your Account</h4>
					<!-- LINE SEPARATOR -->
					<hr class="line-separator">
					<!-- /LINE SEPARATOR -->
					<form id="login-form">
						<label for="username" class="rl-label">Phone</label>
						<input type="text" id="username" name="phone" placeholder="Enter your phone here...">
						<p>Forgot your password? <a href="#" class="primary" routerLink="/forgot-password">Click here!</a></p>
						<button class="button mid dark">Send</button>
					</form>
				</div>
				<!-- /FORM POPUP CONTENT -->
			</div>
			<!-- /FORM POPUP -->

			<div class="clearfix"></div>
		</div>
	</div>
	<!-- /SECTION -->
<app-footer></app-footer>